@import url('https://fonts.googleapis.com/css2?family=Tajawal:wght@200;300;400;500;700;800;900&display=swap');

body {
  direction: rtl;
}

.svg-100 {
  svg {
    width: 100%;
    height: 100%;
  }
}

.text--secondary {
  color: #7b8793;
}
